[include mainsail.cfg]
[include macros.cfg]
[include print_area_bed_mesh.cfg]
# This file contains pin mappings for the stock Sovol SV06
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.
# Also, since it is using the GD32F103, please select Disable SWD at startup
#
# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.
#
# See docs/Config_Reference.md for a description of parameters.
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 220
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC1
run_current: 0.860
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA5

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 220
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC0
run_current: 0.900
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 82
diag_pin: PA6

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 250
homing_speed: 4

[tmc2209 stepper_z]
uart_pin: PA15
run_current: 1.000
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
diag_pin: PA7

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 4.56
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_kd: 86.991
pid_kp: 21.479
pid_ki: 1.326
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC14
run_current: 0.550
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[probe]
pin: PB1
x_offset: 27
y_offset: -20
#z_offset: 0
samples: 2
samples_tolerance: 0.015
samples_tolerance_retries: 5

[safe_z_home]
home_xy_position: 85,135
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 28, 20
mesh_max: 210, 200
probe_count: 10
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[filament_switch_sensor filament_sensor]
pause_on_runout: True
switch_pin: ^PA4
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    RESPOND TYPE=error MSG="Filament runout detected"
insert_gcode:
    RESPOND TYPE=command MSG="Filament detected"

[gcode_macro PURGE_LINE]
gcode:
  G92 E0
  G1 Z0.28 F3000
  G1 X5 Y10 F5000
  G1 X5 Y200 Z0.28 F1500 E15
  G92 E0

[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1
max_error: 300

[exclude_object]

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.521
#*# pid_ki = 1.137
#*# pid_kd = 1188.282
#*#
#*# [probe]
#*# z_offset = 2.030
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.253125, -0.219375, -0.197500, -0.188125, -0.182500, -0.170625, -0.171875, -0.171875, -0.169375, -0.149375
#*# 	  -0.211875, -0.180000, -0.151875, -0.141875, -0.121875, -0.098750, -0.092500, -0.070625, -0.056875, -0.044375
#*# 	  -0.185000, -0.153125, -0.122500, -0.108750, -0.085000, -0.054375, -0.030625, 0.004375, 0.023125, 0.055000
#*# 	  -0.178125, -0.138125, -0.112500, -0.088750, -0.058125, -0.015625, 0.028750, 0.058125, 0.085000, 0.113750
#*# 	  -0.175000, -0.133750, -0.110000, -0.089375, -0.061875, -0.016250, 0.030000, 0.070000, 0.093750, 0.129375
#*# 	  -0.180000, -0.140000, -0.115000, -0.092500, -0.060000, -0.006250, 0.038125, 0.077500, 0.100000, 0.132500
#*# 	  -0.200000, -0.163125, -0.138750, -0.111250, -0.071875, -0.021875, 0.020625, 0.055000, 0.078750, 0.107500
#*# 	  -0.209375, -0.168125, -0.138750, -0.115625, -0.078125, -0.031250, 0.011875, 0.048125, 0.055625, 0.080625
#*# 	  -0.241875, -0.198125, -0.163750, -0.135000, -0.091875, -0.048125, -0.016875, 0.014375, 0.023125, 0.039375
#*# 	  -0.259375, -0.211250, -0.181250, -0.137500, -0.098750, -0.053750, -0.027500, -0.003125, 0.005000, 0.013125
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 28.0
#*# max_x = 209.98
#*# min_y = 20.0
#*# max_y = 200.0
