[include mainsail.cfg]
[include macros.cfg]
[include print_area_bed_mesh.cfg]
# This file contains pin mappings for the stock Sovol SV06
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.
# Also, since it is using the GD32F103, please select Disable SWD at startup
#
# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.
#
# See docs/Config_Reference.md for a description of parameters.
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 220
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC1
run_current: 0.860
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 81
diag_pin: PA5

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 220
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC0
run_current: 0.900
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
driver_SGTHRS: 82
diag_pin: PA6

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 250
homing_speed: 4

[tmc2209 stepper_z]
uart_pin: PA15
run_current: 1.000
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3
diag_pin: PA7

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 4.56
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_kd: 86.991
pid_kp: 21.479
pid_ki: 1.326
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC14
run_current: 0.550
stealthchop_threshold: 0
interpolate: False
sense_resistor: 0.150
uart_address: 3

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[probe]
pin: PB1
x_offset: 27
y_offset: -20
#z_offset: 0
samples: 2
samples_tolerance: 0.015
samples_tolerance_retries: 5

[safe_z_home]
home_xy_position: 85,135
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 28, 20
mesh_max: 210, 200
probe_count: 10
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[filament_switch_sensor filament_sensor]
pause_on_runout: True
switch_pin: ^PA4
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    RESPOND TYPE=error MSG="Filament runout detected"
insert_gcode:
    RESPOND TYPE=command MSG="Filament detected"

[exclude_object]

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.521
#*# pid_ki = 1.137
#*# pid_kd = 1188.282
#*#
#*# [probe]
#*# z_offset = 2.070
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.618125, 0.472500, 0.303750, 0.119375, -0.065000, -0.245000, -0.428125, -0.611875, -0.786250, -0.948125
#*# 	  0.624375, 0.471875, 0.311250, 0.136250, -0.040625, -0.212500, -0.390625, -0.586875, -0.775000, -0.948750
#*# 	  0.623750, 0.472500, 0.315625, 0.139375, -0.032500, -0.203750, -0.379375, -0.566250, -0.757500, -0.933125
#*# 	  0.611250, 0.466250, 0.305625, 0.138750, -0.023125, -0.176875, -0.343125, -0.537500, -0.733125, -0.915000
#*# 	  0.609375, 0.471875, 0.312500, 0.139375, -0.025000, -0.181875, -0.343750, -0.521875, -0.710625, -0.880000
#*# 	  0.598125, 0.456875, 0.300625, 0.135000, -0.026875, -0.162500, -0.315625, -0.493750, -0.684375, -0.858750
#*# 	  0.585625, 0.450000, 0.291250, 0.133750, -0.022500, -0.173125, -0.335000, -0.502500, -0.683125, -0.853125
#*# 	  0.581875, 0.446250, 0.288125, 0.126875, -0.010000, -0.148750, -0.295625, -0.465000, -0.653750, -0.829375
#*# 	  0.571250, 0.445000, 0.292500, 0.138125, -0.005000, -0.148125, -0.313125, -0.481250, -0.661875, -0.826250
#*# 	  0.568125, 0.430625, 0.276875, 0.139375, 0.013125, -0.130625, -0.290000, -0.453750, -0.633125, -0.812500
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 28.0
#*# max_x = 209.98
#*# min_y = 20.0
#*# max_y = 200.0
